
if SOC_TINY_SOC


config SOC
	string
	default "tiny_soc"
	
config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 16000000
	
config RISCV_SOC_INTERRUPT_INIT
	bool
	default y
	
config NUM_IRQS
	int
	default 8
	
endif # SOC_TINY_SOC

